/* Page Styles */

* {
  box-sizing: border-box;
}

body {
  width: auto;
  display: grid;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

form {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

input {
  width: 65%;
  padding: 4px 10px;
  font-size: 12px;
  border: lightgray 2px solid;
  border-radius: 4px;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
}

.gallery {
  display: grid;
  align-items: center;
  /*grid-template-columns: repeat(4, 1fr);*/
  grid-template-columns: repeat(4, 200px);
  grid-gap: 20px;
  margin: 0px;
}
